@import "reset.css";
@import "../fonts/Helvetica Neue.css";

/*HEADER*/

header {
    position: sticky;
    top: 0;
}


.header-background {
    background: #074c89;
    font-family: "Helvetica Neue Medium", Tahoma, sans-serif;
    font-size: 14px;
}

.top-menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-end;

    margin-right: 2%;

    line-height: 40px;
    color: #60b5ed;
}

.top-menu a {
    width: 6%;
}

.top-menu a:first-child {
    width: 9%;
}

.top-menu a:hover{
    cursor: pointer;
    background: #4eabda;
    color: #fff;
}

.top-menu .ofertas {
    width: 12.5%;
    color: #fff;
}

.ofertas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.blue-line {
    margin-top: 2px;
    margin-bottom: 3px;
    width: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: #56a2dc;
}

.flag {
    display: flex;
    padding-left: 15px;
    margin-right: 10px;
    content: url("../img/flag.png");
}

.top-menu span {
    color: #fff;
    width: 15%;
}

.trans-border {
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}


.top-menu span:hover {
    cursor: pointer;
    border-left: 1px solid #57a2dd;
    border-bottom: 1px solid #57a2dd;
    border-right: 1px solid #57a2dd;

    background: #51b0dc;
    background: -moz-linear-gradient(top, #51b0dc 0%, #2e7ac4 100%);
    background: -webkit-linear-gradient(top, #51b0dc 0%, #2e7ac4 100%);
    background: -o-linear-gradient(top, #51b0dc 0%, #2e7ac4 100%);
    background: -ms-linear-gradient(top, #51b0dc 0%, #2e7ac4 100%);
    background: linear-gradient(to bottom, #51b0dc 0%, #2e7ac4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e7ac4', GradientType=0 );
}

.top-menu span:hover > a{
    text-decoration: underline #9ac2e4;
    background: none;
}

.top-menu .ofertas:hover {
    border-left: 1px solid #57a2dd;
    border-bottom: 1px solid #57a2dd;
    border-right: 1px solid #57a2dd;

    background: #51b0dc;
    background: -moz-linear-gradient(top, #51b0dc 0%, #2e7ac4 100%);
    background: -webkit-linear-gradient(top, #51b0dc 0%, #2e7ac4 100%);
    background: -o-linear-gradient(top, #51b0dc 0%, #2e7ac4 100%);
    background: -ms-linear-gradient(top, #51b0dc 0%, #2e7ac4 100%);
    background: linear-gradient(to bottom, #51b0dc 0%, #2e7ac4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e7ac4', GradientType=0 );
    text-decoration: underline #9ac2e4;
}



/*MAIN-MENU*/

.main-background {
    background: url("../img/main-background.jpg") no-repeat;
    background-size: 100%;
    font-family: "Helvetica Neue Medium", Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 40%;

    margin: 10% auto;
    background: #000;
    background: rgba(0,0,0, 0.63);
}

.cadastre-se {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    color: #fff;
    line-height: 70px;
    border-bottom: 2px solid #cad0c2;
}

.main-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*FACEBOOK*/

.facebook{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;

    outline: 1px solid transparent;
    border: 1px solid transparent;
    border-top: 1px solid #7c89b6;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    background: #3c5697;
    background: -moz-linear-gradient(top, #3c5697 0%, #2e4377 100%);
    background: -webkit-linear-gradient(top, #3c5697 0%, #2e4377 100%);
    background: -o-linear-gradient(top, #3c5697 0%, #2e4377 100%);
    background: -ms-linear-gradient(top, #3c5697 0%, #2e4377 100%);
    background: linear-gradient(to bottom, #3c5697 0%, #2e4377 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5697', endColorstr='#2e4377', GradientType=0 );
}

.facebook:focus {
    outline: none;
    box-shadow: 0 0 20px 5px rgba(47,123,197,0.77),
    inset 0 0 2px 0 rgba(0,0,0,0.2);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 7px 12px;
    content: url("../img/facebook-logo.png");

    border-right: 1px solid #1d3c73;
}

.btn-facebook {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 20px 8px 25px;

    font-size: 15px;
    color: #f7ffff;

    border-left: 1px solid #4b68ac;
}


.btn-facebook span {
    font-weight: bold;
}

.quotes {
    display: flex;
    flex-direction: row;
    text-align: center;

    font-size: 15px;

    font-weight: bold;

    padding-left: 15px;

    color: #f7ffff;
}

/*--------------*/


.separator {
    text-align: center;
}

.separator span{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    color: #999999;
}

.double-line {
    display: inline-block;
    width: 23%;
    vertical-align: middle;
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
}

.registration {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-info {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}

.input-info input {

    padding: 10px 15px;
    margin: 8px;
}

.input-info > input {
    border: 1px solid transparent;

    background: #0e0e0e;
    background: -moz-linear-gradient(top, #0e0e0e 0%, #121212 100%);
    background: -webkit-linear-gradient(top, #0e0e0e 0%, #121212 100%);
    background: -o-linear-gradient(top, #0e0e0e 0%, #121212 100%);
    background: -ms-linear-gradient(top, #0e0e0e 0%, #121212 100%);
    background: linear-gradient(to bottom, #0e0e0e 0%, #121212 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#121212', GradientType=0 );

    box-shadow: 0 1px 0 0 rgba(75,75,75,1),
                inset 2px 0 20px 0 rgba(29,26,22,0.2);
}

.input-info > input:focus {
    color: #fffcfc;
    background: #1b5288;
    outline: none;
    border-bottom: 1px solid #689bcc;
    box-shadow: 0 0 20px 5px rgba(47,123,197,0.77),
                inset 0 0 2px 0 rgba(0,0,0,0.2);
}

/*PLACEHOLDER COLOR*/

.input-info > input::placeholder {color: #ccc;}

.input-info > input:focus::placeholder {color: #fffcfc;}

/*------------------*/

.checkbox {
    margin: 10px 0;
    display: flex;
}


.btn-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #ccc;
    font-size: 14px;
}

.btn-create:focus {
    outline: none;
    box-shadow: 0 0 20px 5px rgba(47,123,197,0.77),
    inset 0 0 2px 0 rgba(0,0,0,0.2);
}

.btn-create {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #499cd6;
    border-radius: 2px;



    font-weight: bold;
    color: #fff;

    background: #65c6e6;
    background: -moz-linear-gradient(top, #65c6e6 0%, #499ed4 51%, #2e78c2 100%);
    background: -webkit-linear-gradient(top, #65c6e6 0%, #499ed4 51%, #2e78c2 100%);
    background: -o-linear-gradient(top, #65c6e6 0%, #499ed4 51%, #2e78c2 100%);
    background: -ms-linear-gradient(top, #65c6e6 0%, #499ed4 51%, #2e78c2 100%);
    background: linear-gradient(to bottom, #65c6e6 0%, #499ed4 51%, #2e78c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c6e6', endColorstr='#2e78c2', GradientType=0 );
}

.terms {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 60%;

    color: #ccc;
    font-size: 12px;
}


